* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  background-color: rgb(55, 102, 73);
}

a {
  text-decoration: none;
  color: rgb(238, 122, 81);
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  margin-bottom: 20px;
  width: 300px;
}

.flex-form {
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  text-align: center;
}

.flex-form h1,
.flex-form p {
  margin-bottom: 20px;
}

.form-group {
  margin: 20px 0;
}

.flex-form label {
  display: block;
  font-size: 10px;
  text-align: left;
  margin-bottom: 5px;
  color: grey;
}

input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.flex-form button {
  width: 80%;
  background: coral;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer {
  margin: 10px auto;
  color: white;
  text-align: center;
}

.flex-container .bottom-text a:hover {
  text-decoration: underline;
}
button:hover {
  background-color: rgb(225, 103, 59);
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
  }
}
